In [29]:
import pandas as pd
data = {
    'Name':['hareeshma','ankit','reshma'],
    'Age' :[22,24,25],
    'Place':['pothencode','hamidpur','VAVARAAMBALAM']
}
df = pd.DataFrame(data)
print(df)

        Name  Age          Place
0  hareeshma   22     pothencode
1      ankit   24       hamidpur
2     reshma   25  VAVARAAMBALAM

In [30]:
print(df['Name'])

0    hareeshma
1        ankit
2       reshma
Name: Name, dtype: object

In [31]:
print(df[['Name','Place']])

        Name          Place
0  hareeshma     pothencode
1      ankit       hamidpur
2     reshma  VAVARAAMBALAM

In [32]:
#for accessing each row from the dataframe we need to use inbuild function
print(df.iloc[2])

Name            reshma
Age                 25
Place    VAVARAAMBALAM
Name: 2, dtype: object

In [33]:
print(df[df['Age']>23])

     Name  Age          Place
1   ankit   24       hamidpur
2  reshma   25  VAVARAAMBALAM

In [34]:
#add a new column into the dataframe
df['stiphend'] = [15000,5000,5000]
print(df)

        Name  Age          Place  stiphend
0  hareeshma   22     pothencode     15000
1      ankit   24       hamidpur      5000
2     reshma   25  VAVARAAMBALAM      5000

In [35]:
#remove
df = df.drop(columns=['Age'])
print(df)

        Name          Place  stiphend
0  hareeshma     pothencode     15000
1      ankit       hamidpur      5000
2     reshma  VAVARAAMBALAM      5000

In [36]:
#statical function
print(df.describe())

           stiphend
count      3.000000
mean    8333.333333
std     5773.502692
min     5000.000000
25%     5000.000000
50%     5000.000000
75%    10000.000000
max    15000.000000